{% block immediateAction %}

	<div class="row">
		<div class="col s8">
				<h4 class="light-blue-text">Immediate Action</h4>
		</div>
	</div>

	<div class="row center">
		
		<div class="col s6">
 			<a href="/On" id="immediate-on-btn" class="btn-large waves-effect waves-light green"><i class="mdi-image-flash-on left"></i>On</a>
		</div>

		<div class="col s6">
			<a href="/Off" id="immediate-off-btn" class="btn-large waves-effect waves-light red"><i class="mdi-image-flash-off left"></i>Off</a>
		</div>

		
	</div>



	
{% endblock %}
