{% block scheduler %}
	<h4 class="light-blue-text">Scheduler</h4>


	 		<ul class="collapsible" data-collapsible="accordion">
			    <li>
			      <div class="collapsible-header"><i class="mdi-content-add"></i>Add Task</div>
			      <div class="collapsible-body">
			
						{% include "AddTaskForm.html" %}

			    </li>
	   		</ul>


	<table class="hoverable">
        <thead>
          <tr>
              <th data-field="action">Action</th>
              <th data-field="datetTime">DateTime</th>
              <th data-field="hasRan">Has Ran</th>
              <th data-field="removeTask"></th>
          </tr>
        </thead>

        <tbody>

        {% for task in tasks %}

          <tr>
            <td>{{ task.action }}</td>
            <td>{{ task.time }} </td>
            <td>{{ task. hasRan }}</td>
            <td>
   				<a href="/RemoveTask?{{task.id}}" class="btn-floating btn-small waves-effect waves-light red">
    			<i class="mdi-content-clear"></i>
  				</a>
            </td>
          </tr>


          {% endfor %}

        </tbody>
      </table>

{% endblock %}
